body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  font-family: Arial;
}

.chatRoomContainner {
  width: 500px;
  height: 468px;
  border-radius: 8px;
  box-shadow: 5px solid #ccc;
  overflow: hidden;
  border: 1px solid #ccc;
}

.name {
  background-color: #8bc5e8;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  border-bottom: 1px solid white;
}

p {
  margin-top: 0px;
}

#chatArea {
	width: 500px;
	height: 275px;
  background-color: #EDF5F9;
  overflow: auto;
  overflow-x: hidden;
}

#chatArea .messages {
	width: 500px;
	height: 34px;
}

#chatArea .messages p {
  max-width: 200px;
  height: 20px;
  margin: 3px 25px;
  padding: 3px;
  border-radius: 5px;
}

#chatArea .messages .left {
  text-align: left;
  float: left;
  background-color: rgba(242,60,84,0.50);;
}
#chatArea .messages .right {
  text-align: right;
  float: right;
  background-color: rgba(71,158,162,0.50);
}
#chatArea .messages .middle {
  text-align: center;
  width: 500px;
  color: gray;
}
.sperateArea {
  height: 25px;
  background-color: #cbe1ee;
}
.inputArea {
  height: 87px;
  background-color: #EDF5F9;
}
.footer {
  background-color: #cbe1ee;
  height: 31px;
}
.footer button {
  width: 50px;
  height: 20px;
  font-size: 10px;
  line-height: 20px;
  float: right;
  margin-top: 6px;
}
textarea {
  width: 500px;
  height: 70px;
  overflow: auto;
  border: 0px;
  outline: none;
  background-color: #EDF5F9;
}
